header {
    .navbar {
        background-color: #fff !important;
        border: 1px solid #70707040;
        .container {
            padding: 10px 0px;
        }
    }
}
.o_survey_brand_message {
    div {
        &:first-child {
            display: none !important;
        }
    }
}
.background-none {
    background: none !important;
}
.o_survey_main_title {
    color: #124174;
    font-weight: bold;
    text-align: right;
}
.without-margin-top {
    margin-top: 0px !important;
}
.o_survey_form {
    margin-top: 4rem;
    h3 {
        font-size: 1.4em;
        color: #124174;
    }
    h2 {
        text-align: center;

        color: #124174;
    }
    p {
        color: #737475;
    }
    .o_survey_form input {
        border-bottom: 1px solid #737475;
    }
}
// .o_survey_form_content {
//     .buttons {
//         margin-top: 4rem;
//     }
// }
.o_survey_navigation_wrapper {
    .o_survey_navigation_submit {
        &:last-child {
            border-left: none !important;
        }
    }
}
.o_survey_start {
    .oe_no_empty {
        font-size: 1.5em;
        p {
            color: #404040 !important;
        }
    }
    .mb32 {
        display: flex;
        justify-content: end;
        align-items: center;
        .btn-primary {
            background-color: #ffffff;
            border: 1px solid #707070;
            border-radius: 10px;
            color: #124174;
            font-weight: bold;
        }
        .o_survey_enter{
            display: none;
        }
    }
}
.progress-bar{
    background-color: #124174 !important;
}
.o_survey_navigation_submit{
    background: #124174;
    color: #fff;
    &:last-child{
        border-radius: 0px 5px 5px 0px;
    }
    &:first-child{
        border-radius: 5px 0px 0px 5px;
    }
    &:hover{
        color: #fff;
        background-color: #2c7acb;
    }
}
[data-type-q="yesno"] {
    .d-flex {
        &.flex-wrap {
            justify-content: center;
        }
    }
    .o_survey_choice_btn {
        flex: none !important;
        &:hover {
            background-color: #fff !important;
        }
        &.o_survey_selected {
            background-color: #fff !important;
            box-shadow: none !important;
        }
        &:first-child {
            display: flex;
            justify-content: end;
            flex-direction: row-reverse;
            align-items: center;
            background: none;
            box-shadow: none;
            span {
                color: #737475;
                font-size: 1.1em;
                font-weight: lighter;
            }
        }
        &:last-child {
            display: flex;
            justify-content: start;
            flex-direction: row-reverse;
            align-items: center;
            background: none;
            box-shadow: none;
            span {
                color: #737475;
                font-size: 1.1em;
                font-weight: lighter;
            }
        }
        .fa {
            padding: 7px;
            background-color: #184778;
            border: 1px solid #707070;
            &.fa-check-circle {
                color: #fff;
                &:before {
                    content: "\f00d";
                }
            }
            &.fa-circle-thin {
                color: #184778;
                &:before {
                    content: "\f00d";
                }
            }
        }
    }
}
[data-type-q="other"] {
    .d-flex {
        &.flex-wrap {
            justify-content: center;
        }
        .o_survey_choice_btn {
            flex: none !important;
            &:hover {
                background-color: #fff !important;
            }
            &.o_survey_selected {
                background-color: #fff !important;
                box-shadow: none !important;
            }
            display: flex;
            justify-content: end;
            flex-direction: row-reverse;
            align-items: center;
            background: none;
            box-shadow: none;
            span {
                color: #737475;
                font-size: 1.1em;
                font-weight: lighter;
            }
            .fa {
                padding: 7px;
                background-color: #184778;
                border: 1px solid #707070;
                &.fa-check-circle {
                    color: #fff;
                    &:before {
                        content: "\f00d";
                    }
                }
                &.fa-circle-thin {
                    color: #184778;
                    &:before {
                        content: "\f00d";
                    }
                }
            }
        }
    }
}

[data-type-q="rate"] {
    .d-flex {
        &.flex-wrap {
            justify-content: center;
        }
    }
    .o_survey_choice_btn {
        flex: none !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #184778;
        box-shadow: none;
        border-radius: 0px !important;
        width: 40px;
        height: 40px;
        padding: 0px !important;
        span {
            color: #ffffff;
            font-size: 1.1em;
            font-weight: lighter;
            margin-left: 0px !important;
        }

        i {
            display: none !important;
        }
    }
}
.o_survey_form {
    .o_survey_choice_btn:hover {
        background-color: #2c7acb;
    }
    .o_survey_choice_btn {
        &.o_survey_selected {
            box-shadow: #2c7acb 0px 0px 0px 2px;
            background-color: #2c7acb;
        }
    }
}
.multiple_choice_vertical {
    justify-content: center;
    .d-flex {
        &.flex-wrap {
            flex-direction: column;
            align-items: start;
            justify-content: center;
            flex: 0 0 50%;
            max-width: 50%;
            margin-left: 26%;
            .o_survey_choice_btn {
                display: flex;
                flex-direction: row-reverse;
                flex: none !important;
                display: -webkit-box;
                display: -webkit-flex;
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                box-shadow: none;
                border-radius: 0px !important;
                padding: 0px !important;
                span {
                    color: #737475;
                    font-size: 1.1em;
                    font-weight: lighter;
                }
                i {
                    padding: 7px;
                    background-color: #184778;
                    border: 1px solid #707070;
                    &.fa-check-square {
                        color: #ffffff;
                        &:before {
                            content: "\f00d";
                        }
                    }
                    &.fa-square-o {
                        color: #184778;
                        &:before {
                            content: "\f00d";
                        }
                    }
                }
            }
        }
    }
}

.btns-survey {
    display: none !important;
    button {
        float: right;
        background-color: #124174;
        border: 1px solid #707070;
        border-radius: 5px;
        color: #fff;
        font-weight: lighter;
        padding: 5px 27px;
        font-size: 1.1em;
        &:hover {
            background-color: #2c7acb;
        }
    }
    span {
        display: none !important;
    }
}
.o_survey_finished {
    .btn {
        background-color: #124174;
        border: 1px solid #707070;
        border-radius: 5px;
        color: #fff;
        font-weight: lighter;
    }
    a {
        color: #124174;
    }
}

.o_survey_print {
    [data-type-q="yesno"],
    [data-type-q="other"] {
        .o_survey_selected {
            background-color: #fff;
        }
    }

    [data-type-q="rate"] {
        .o_survey_selected {
            background-color: #2c7acb;
        }
    }
    .o_survey_selected {
        background-color: #fff;
    }
    .btn {
        background-color: #124174;
        border: 1px solid #707070;
        border-radius: 5px;
        color: #fff;
        font-weight: lighter;
    }
    h1 {
        color: #124174;
        font-weight: bold;
        text-align: center;
    }

    h3 {
        font-size: 1.4em;
        color: #124174;
    }
    h2 {
        text-align: left;

        color: #124174;
    }
    p {
        color: #737475;
    }
}
.comment_extra_line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .o_survey_comment_container {
        position: relative;
        top: 5px;
        max-width: 200px;
    }
    .o_survey_question_text_box {
        height: 30px !important;
        border-bottom: 1px solid #124174 !important;

    }
}

.o_survey_question_text_box {
    border-bottom: 1px solid #124174 !important;
}

.hide{
    display: none !important;
}
.show-flex{
    display: flex !important;
}